<c-card>
    <c-card-header>
        <c-row class="justify-content-end">
            <c-col lg="10">
                Producción
            </c-col>
            <c-col lg="2">

            </c-col>
        </c-row>
    </c-card-header>
    <c-card-body>
        <table id="datatable-produccion" datatable class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Cliente</th>


                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Produccion of lista_entradas;let i = index" [ngClass]="{'resaltado': Produccion.estado == 'En Pausa', 'resaltado2': Produccion.estado == 'En Proceso','resaltado3': Produccion.estado == 'Espera'}" >
                    <td   >{{Produccion.identrada}} <br> {{Produccion.icon}}
                        <!-- <i class="texto-borde"
                            *ngif="Produccion.icon"><span>
                                <h1>&#33;</h1>
                            </span></i> -->
                        </td>
                    <td>{{Produccion.estado}}</td>
                    <td>{{Produccion.createdAt | date:'dd/MM/yy'}}</td>
                    <td>{{Produccion.tblCliente.nombre}}</td>
                    <td>
                        <a (click)="getArray(i)"><button [cModalToggle]="staticBackdropModal.id"
                                cButton>Ver</button></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </c-card-body>
</c-card>


<c-modal class="modal-xl" #staticBackdropModal backdrop="static" id="staticBackdropModal">
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="MaquinasForm"> -->
    <c-modal-header>
        <h5 cModalTitle>Detalles de la producción</h5>
        <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <th>Asignar a una maquina:</th>
                    <select  class="form-select" [formControl]="idmaquina" (change)="AsignarMaquina()">
                        <option selected value="0">Selecciona una maquina</option>
                        <option *ngFor="let maquina of lista_maquinas;" value="{{maquina.idmaquina}}">{{maquina.nombre}}
                        </option>
                    </select>
                    <div *ngIf="this.variable2" style="color: red;">No se puede asignar a otra maquina ya fue asiganada y se encuentra en producción</div>
                    <tr>
                        <th><h5>Número de entrada:</h5></th>
                        <td><h5>{{identrada}}</h5></td>
                    </tr>
                    <p></p>

                    <tr>
                        <th><h5>Cliente:</h5></th>
                        <td><h5>{{this.nombre}}</h5></td>
                    </tr>
                    <p></p>
                    <tr>
                        <th scope="row"><h5>Prenda:</h5> </th>
                        <td><h5>{{this.prenda}}</h5></td>
                        <p></p>
                    </tr>

                    <p></p>
                    <tr>
                        <th><h5>Número de prendas:</h5></th>
                        <td><h5>{{this.numero}}</h5></td>
                    </tr>
                    <p></p>
                    <tr>
                        <th><h5>Realizadas:</h5></th>
                        <td><h5>{{this.realizadas}}</h5></td>
                    </tr>
                    <p></p>
                    <tr>
                        <th><h5>Observación:</h5></th>
                        <td><h5>{{this.observacion}}</h5></td>
                    </tr>
                    <p></p>
                    <tr>
                        <th><h5>estado:</h5></th>
                        <td><h5>{{this.estado}}</h5></td>
                    </tr>
                    <!-- <p></p>
                    <tr>
                        <th>tiempo:</th>
                        <td>{{this.tiempo}}</td>
                    </tr> -->
                    <p></p>
                    <tr>
                        <th><h5>tecnica:</h5></th>
                        <td><h5>{{this.tecnica}}</h5></td>
                    </tr>
                    <p></p>
                    <tr>
                        <th><h5>Nombre Bordado:</h5></th>
                        <td><h5>{{this.nombreBordado}}</h5></td>
                    </tr>

                    <p></p>
                    <tr>
                        <th><h5>alto:</h5></th>
                        <td><h5>{{this.alto}}</h5></td>
                    </tr>

                    <p></p>
                    <tr>
                        <th><h5>ancho:</h5></th>
                        <td><h5>{{this.ancho}}</h5></td>
                    </tr>

                </div>

                <div class="col">
                    <p></p>
                    <tr>
                        <th><h5>Detalles del Bordado:</h5></th>
                        <td><h5>{{this.observacionB}}</h5></td>

                    </tr>
                    <p></p>
                   <h5>Portada</h5> 
                    <tr>

                        <td><img width="400" height="300" align="center" src="{{this.portada}}"></td>
                    </tr>
                    <p></p>

                    <p></p>
                    <tr>
                        <th><h5>tiempo:</h5></th>
                        <td><h5>{{this.tiempo}}</h5></td>
                    </tr>
                    <p></p>
                    <h5>
                        <th><h5>patron:</h5></th>
                    </h5>
                    <tr *ngFor="let hilo of hilosA;">
                        <th>hilo:</th>
                        <td>{{hilo.orden}} - {{hilo.hilo}}</td>

                    </tr>
                    <p></p>
                    <section *ngIf="EntradaU[0].estado == 'En Proceso'">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" [formControl]="cantidad" type="text" (change)="desactivarpausa()"
                                        placeholder="Cantidad ">
                                        <div *ngIf="this.variable" style="color: red;">por favor introduzca un Numero menor al total</div>
                                        <div *ngIf="this.variable3" style="color: red;">por favor Finalice la entrada</div>
                                    </div>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <button *ngIf="EntradaU[0].estado == 'En Pausa'" (click)="Produccion()" cButton color="primary">&#9658;
            EN PROCESO</button>
        <button *ngIf="EntradaU[0].estado == 'En Proceso' || this.variable3" disabled="{{this.variable3}}" (click)="pausa()" cButton color="primary">
            &#10074; &#10074; PAUSAR</button>
        <button *ngIf="EntradaU[0].estado == 'Espera'" (click)="Produccion()" cButton color="primary">
            &#9658; Iniciar Producción</button>
        <button *ngIf=" this.variable3"(click)="finalizar()" cButton color="secondary">FINALIZAR</button>
        <button (click)="cancelar()" cButton color="danger">CANCELAR</button>


    </c-modal-footer>
    <!-- </form> -->
</c-modal>