.divFull {
    // background-image: url('/assets/lotto/Fondo2.png');
    // background-color: #005461 !important;
    background: rgb(0,0,0);
    background: linear-gradient(156deg, rgba(0,0,0,0.8743872549019608) 12%, rgba(0,38,44,1) 43%, rgba(0,84,97,1) 81%, rgba(31,96,120,1) 88%, rgba(243,138,0,1) 100%);
    // height: 100vh;
    // background-size: cover;
    // margin: 0;
    // margin-top: 0px;
    // margin-right: 0px;
    // margin-bottom: 0px;
    // margin-left: 0px;
}

.div2 {
    background-image: url('/assets/lotto/fondo.png');
    border-radius: 14px;

}
.imgLogin{
    width: 89%;
    margin: auto;
    text-align: center;
}