c-card{
	text-transform: uppercase;
  }
  c-modal{
	text-transform: uppercase;
  }
  button{
	text-transform: uppercase;
  }
  option{
	text-transform: uppercase;
  }
  select {
	text-transform: uppercase!important;
}
.icon-box2 {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #1c8f05;
}
.icon-box2 i {
	color: #1c8f05;
	font-size: 46px;
	display: inline-block;
	margin-top: 5px;
}
.icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: -1px;
}