.prueba{
    color: #005461;
    background-color:  #005461;
 
    
}
.prueba2{
    background: rgb(232,235,236);
    background: linear-gradient(180deg, rgba(232,235,236,1) 86%, rgba(0,84,97,1) 100%);
    
}

.ontainer-fluid header nav ul li a{
    text-decoration:none;
    color: orange;
    
    }