<c-card>
    <c-card-header>
        <c-row class="justify-content-end">
            <c-col lg="10">
                Clientes
            </c-col>
            <c-col lg="2">
                <button [cModalToggle]="staticBackdropModal.id" cButton>Agregar Cliente</button>

            </c-col>
        </c-row>
    </c-card-header>
    <c-card-body>
        <table class="table table-striped table-hover prueba" id="datatable-clientes">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <!-- <th>Razón Social</th> -->
                    <!-- <th>RFC</th> -->
                    <!-- <th>Dirección</th> -->
                    <!-- <th>cp</th> -->
                    <th>Teléfono</th>
                    <!-- <th>Correo</th> -->
                    
                    <!-- <th>Estado</th> -->
                    <th data-priority="2">estatus</th>
                    <th data-priority="1">acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Usuarios of lista_clientes; let i = index">
                    <!-- <td>{{Usuarios.idcliente}}</td> -->
                    <td>{{Usuarios.nombre}}</td>
                    <td>{{Usuarios.empresa}}</td>
                    <!-- <td>{{Usuarios.razon_social}}</td> -->
                    <!-- <td>{{Usuarios.rfc}}</td> -->
                    <!-- <td>{{Usuarios.direccion}}</td> -->
                    <!-- <td>{{Usuarios.codigo_postal}}</td> -->
                    <td>{{Usuarios.telefono}}</td>
                    <!-- <td>{{Usuarios.email}}</td> -->
                   
                    <!-- <td>{{Usuarios.estado}}</td> -->
                    <td>
                        <div>
                            <div class="btn" ngbTooltip="Activar / Desactivar usuario">
                                <div
                                    class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" #inputChek
                                        id="customSwitch{{Usuarios.idEstado}}" [checked]="true" (click)=" getArray(i);"
                                        [cModalToggle]="staticBackdropModal3.id" *ngIf="Usuarios.activo == true"
                                        (change)="inputChek.checked = !inputChek.checked">
                                    <input type="checkbox" class="custom-control-input" #inputChekout
                                        id="customSwitch{{Usuarios.idEstado}}" [checked]="false"
                                        [cModalToggle]="staticBackdropModal4.id" (click)=" getArray(i);"
                                        *ngIf="Usuarios.activo != true"
                                        (change)="inputChekout.checked = !inputChekout.checked">
                                    <label class="custom-control-label" for="customSwitch{{Usuarios.idEstado}}"></label>
                                </div>
                            </div>
                    <td *ngIf="Usuarios.activo == true">Activo</td>
                    <td *ngIf="Usuarios.activo != true">Inactivo</td>
                    </div>



                    <td>

                        <a (click)="getArray(i)"><button [cModalToggle]="staticBackdropModal2.id"
                                cButton>Ver</button></a>
                        &nbsp;
                        <a (click)="getArray(i)"><button [cModalToggle]="staticBackdropModal5.id"
                                cButton>Editar</button></a>

                    </td>
                </tr>
            </tbody>
        </table>

    </c-card-body>
</c-card>

<c-modal #staticBackdropModal data-backdrop="static"id="staticBackdropModal">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <c-modal-header>
            <h5 cModalTitle>Agregar Cliente</h5>
            <button [cModalToggle]="staticBackdropModal.id" #button_close_detail cButtonClose></button>
        </c-modal-header>

        <c-modal-body>
            <div class="row">
                <div class="col-sm-12">
                    <div>NOMBRE</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="nombre" placeholder="NOMBRE"
                            [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }">
                        <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
                            <div *ngIf="f['nombre'].errors['required']">Nombre es requerido  </div>
                        </div>
                        <c-row *ngIf="variable">
                            <c-alert color="warning">{{mensaje_error}}</c-alert>
                        </c-row>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>RAZÓN SOCIAL</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="razon_social" maxlength="50"
                            placeholder="RAZÓN SOCIAL ">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>RFC</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="rfc"  pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$" placeholder="RFC"
                        [ngClass]="{ 'is-invalid': submitted && f['rfc'].errors }">
                        <div *ngIf="submitted && f['rfc'].errors" class="invalid-feedback">
                            <!-- <div *ngIf="f['rfc'].errors['required']">RFC es requerido</div> -->
                            <div *ngIf="f['rfc'].errors['pattern']">ingrese un RFC VALIDO</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>DIRECCIÓN</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="direccion" maxlength="300"
                            placeholder="DIRECCIÓN">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>CÓDIGO POSTAL</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="codigo_postal" pattern="^[0-9]+"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="5"  placeholder="CÓDIGO POSTAL"  
                            [ngClass]="{ 'is-invalid': submitted && f['codigo_postal'].errors }">
                            <div *ngIf="submitted && f['codigo_postal'].errors" class="invalid-feedback">
                                <!-- <div *ngIf="f['rfc'].errors['required']">RFC es requerido</div> -->
                                <div *ngIf="f['codigo_postal'].errors['pattern']">este campo solo admite caracteres númericos</div>
                            </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>TELÉFONO</div>
                    <div class="form-group">
                        <input class="form-control" type="number" formControlName="telefono" maxlength="10"
                            placeholder="TELÉFONO"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            [ngClass]="{ 'is-invalid': submitted && f['telefono'].errors }">
                        <div *ngIf="submitted && f['telefono'].errors" class="invalid-feedback">
                            <div *ngIf="f['telefono'].errors['required']">teléfono es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>E-MAIL</div>
                    <div class="form-group">
                        <input class="form-control" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-MAIL"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">email es requerido</div>
                            <div *ngIf="f['email'].errors['pattern']">ingrese un correo valido</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>EMPRESA</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="empresa" maxlength="38"
                            placeholder="EMPRESA">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>ESTADO</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="estado" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"  placeholder="ESTADO"
                            [ngClass]="{ 'is-invalid': submitted && f['estado'].errors }">
                        <div *ngIf="submitted && f['estado'].errors" class="invalid-feedback">
                            <div *ngIf="f['estado'].errors['required']">estado es requerido</div>
                            <div *ngIf="f['estado'].errors['pattern']">este campo solo acepta texto</div>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="primary" type="submit">Guardar</button>

        </c-modal-footer>
    </form>
</c-modal>

<c-modal #staticBackdropModal2 data-backdrop="static" id="staticBackdropModal2">
    <c-modal-header>
        <h5 cModalTitle>Información del Cliente</h5>
        <button [cModalToggle]="staticBackdropModal2.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <table class="default">
            <tr>
                <th>ID:</th>
                <td>{{clienteAselect[0].idcliente}}</td>
            </tr>
            <p></p>
            <tr>
                <th scope="row">Nombre: </th>
                <td>{{clienteAselect[0].nombre}}</td>
                <p></p>
            </tr>
            <p></p>
            <tr>
                <th>E-mail:</th>
                <td>{{clienteAselect[0].email}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Razon Social:</th>
                <td>{{clienteAselect[0].razon_social}}</td>
            </tr>
            <p></p>
            <tr>
                <th>RFC:</th>
                <td>{{clienteAselect[0].rfc}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Dirección:</th>
                <td>{{clienteAselect[0].direccion}}</td>
            </tr>
            <p></p>
            <tr>
                <th>codigo postal:</th>
                <td>{{clienteAselect[0].codigo_postal}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Teléfono:</th>
                <td>{{clienteAselect[0].telefono}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Empresa:</th>
                <td>{{clienteAselect[0].empresa}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Estado:</th>
                <td>{{clienteAselect[0].estado}}</td>
            </tr>
            <p></p>
            <tr>
                <th>Estatus:</th>
                <td *ngIf="clienteAselect[0].activo == true">Activo</td>
                <td *ngIf="clienteAselect[0].activo != true">Inactivo</td>
            </tr>
        </table>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal2.id" cButton color="secondary">
            Cerrar
        </button>

    </c-modal-footer>
</c-modal>

<c-modal #staticBackdropModal3 data-backdrop="static" id="staticBackdropModal3">
    <c-modal-header>
        <h5 cModalTitle></h5>
        <button [cModalToggle]="staticBackdropModal3.id" #button_close_detail3 cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="icon-box">
            <i class="material-icons">&#x58;</i>
        </div>
        <P style="text-align: center;">¿desa desactivar al cliente {{clienteAselect[0].nombre}}?</P>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal3.id" cButton color="secondary">
            Cerrar
        </button>
        <button cButton color="primary" (click)="Desactivar()">Guardar</button>
    </c-modal-footer>
</c-modal>

<c-modal #staticBackdropModal4 data-backdrop="static" id="staticBackdropModal4">
    <c-modal-header>
        <h5 cModalTitle></h5>
        <button [cModalToggle]="staticBackdropModal4.id" #button_close_detail4 cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="icon-box2">

            <i class="material-icons">&#10003;</i>
        </div>
        <P style="text-align: center;">¿desa activar al cliente {{clienteAselect[0].nombre}}?</P>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="staticBackdropModal4.id" cButton color="secondary">
            Cerrar
        </button>
        <button cButton color="primary" (click)="Activar()">Guardar</button>
    </c-modal-footer>
</c-modal>

<c-modal #staticBackdropModal5 data-backdrop="static"id="staticBackdropModal5">
    <form [formGroup]="EditclientForm" (ngSubmit)="onSubmit2()">
        <c-modal-header>
            <h5 cModalTitle>editar Cliente</h5>
            <button [cModalToggle]="staticBackdropModal5.id" #button_close_detail5 cButtonClose></button>
        </c-modal-header>

        <c-modal-body>
            <div class="row">
                <div class="col-sm-12">
                    <div>NOMBRE</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="nombre" placeholder="NOMBRE"
                            [ngClass]="{ 'is-invalid': submitted && f2['nombre'].errors }">
                        <div *ngIf="submitted && f2['nombre'].errors" class="invalid-feedback">
                            <div *ngIf="f2['nombre'].errors['required']">NOMBRE es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>RAZÓN SOCIAL</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="razon_social" maxlength="50"
                            placeholder="RAZÓN SOCIAL">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>RFC</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="rfc"   pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$"  placeholder="RFC"
                        [ngClass]="{ 'is-invalid': submitted && f2['rfc'].errors }">
                        <div *ngIf="submitted && f2['rfc'].errors" class="invalid-feedback">
                            <!-- <div *ngIf="f['rfc'].errors['required']">RFC es requerido</div> -->
                            <div *ngIf="f2['rfc'].errors['pattern']">ingrese un RFC VALIDO</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>DIRECCIÓN</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="direccion" maxlength="300"
                            placeholder="DIRECCIÓN">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>CÓDIGO POSTAL</div>
                    <div class="form-group">
                        <input class="form-control" type="number" formControlName="codigo_postal" maxlength="5"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="5" maxlength="5" placeholder="CÓDIGO POSTAL">
                            <div *ngIf="submitted && f2['codigo_postal'].errors" class="invalid-feedback">
                                <div *ngIf="f2['codigo_postal'].errors['required']">teléfono es requerido</div>
                            </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>TELÉFONO</div>
                    <div class="form-group">
                        <input class="form-control" type="number" formControlName="telefono" maxlength="10"
                            placeholder="TELÉFONO"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            [ngClass]="{ 'is-invalid': submitted && f2['telefono'].errors }">
                        <div *ngIf="submitted && f2['telefono'].errors" class="invalid-feedback">
                            <div *ngIf="f2['telefono'].errors['required']">teléfono es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>E-MAIL</div>
                    <div class="form-group">
                        <input class="form-control" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-MAIL"
                            [ngClass]="{ 'is-invalid': submitted && f2['email'].errors }">
                        <div *ngIf="submitted && f2['email'].errors" class="invalid-feedback">
                            <div *ngIf="f2['email'].errors['required']">email es requerido</div>
                            <div *ngIf="f2['email'].errors['pattern']">ingrese un correo valido</div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>EMPRESA</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="empresa" maxlength="38"
                            placeholder="EMPRESA">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-12">
                    <div>ESTADO</div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="estado" placeholder="ESTADO"  pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" maxlength="300"
                            [ngClass]="{ 'is-invalid': submitted && f2['estado'].errors }">
                        <div *ngIf="submitted && f2['estado'].errors" class="invalid-feedback">
                            <div *ngIf="f2['estado'].errors['required']">estado es requerido</div>
                            <div *ngIf="f2['estado'].errors['pattern']">este campo solo acepta texto</div>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="staticBackdropModal5.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="primary" type="submit">Guardar</button>

        </c-modal-footer>
    </form>
</c-modal>